body,
html,p{
  margin:0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgb(255, 244, 146);
}
.top-bar{
  color:white;
  display: flex;
  justify-content: end;
  
}
.copy-me{
  padding: 10px  5px 10px 5px;
  border-bottom:2px solid rgba(0, 0, 0, 0.603);
  background:none;
}
.text-append{
  margin-top:20px;
}
::-webkit-scrollbar{
  display:none;
}
.copy-me:hover{
  background:white;
}